In [1]:
import pandas as pd

In [2]:
emplid_course_df = pd.read_csv('../datasets/emplid_course_grade.csv', dtype={'Emplid': str, 'Grades': str})
emplid_course_df.head()

     Emplid  Courses Grades
0  00030807  CPSC233     B+
1  00030807  CPSC355     B-
2  00042314  BIOL241     A-
3  00042314  BIOL243     A-
4  00042314  BIOL311     A-

In [3]:
emplid_course_df['Grades'] = emplid_course_df['Grades'].astype(str)

In [4]:
def custom_agg(values):
    return values

pivot_df = emplid_course_df.pivot_table(index=['Emplid'], columns=['Courses'], values='Grades', aggfunc=custom_agg)
pivot_df

Courses,ACSC325,ACSC327,ACSC425,ACSC427,ACSC437,ACSC511,ACSC513,ACSC515,ACSC517,ACSC525,...,ZOOL571.01,ZOOL576,ZOOL577,ZOOL581,ZOOL583,ZOOL595,ZOOL597,ZOOL697,ZOOL998,ZOOL998A
Emplid,,,,,,,,,,,,,,,,,,,,,
00030807,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00042314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00055829,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00080967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00200045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30237630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30237701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30237719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30237745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30237805,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
pivot_df[['30090208']]

KeyError: "None of [Index(['30090208'], dtype='object', name='Courses')] are in the [columns]"